---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/default.astro';
import PageHeader from '../../components/page-header.astro';
import Card from '../../components/cards/card.astro';

export const prerender = true;

const blogs = (
	await getCollection('blog', ({ data }) => {
		if (data.draft === true) {
			return false;
		}

		return import.meta.env.DEV === true || new Date(data.pubDate) < new Date();
	})
).sort(
	(a, b) =>
		new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf(),
);
---

<Layout title="Blog — CodeTV">
	<main>
		<PageHeader
			image={{
				public_id: 'codetv/blog-header',
				alt: 'Salma Alam-Naylor and Daniel Roe on the set of Web Dev Challenge S2, looking at code on large monitors.',
			}}
			line1="the CodeTV blog"
			line2=""
		/>

		<h2>Most recent post</h2>

		<section class="row">
			{
				blogs.slice(0, 1).map((blog) => {
					const url = `/blog/${blog.id}`;
					const img =
						blog.data.share?.image?.replace(
							'f_auto',
							'f_auto,w_600,ar_16:9,c_fill',
						) ?? null;

					return (
						<Card
							image={{
								src: img,
								alt: blog.data.title,
							}}
							tagline={new Date(blog.data.pubDate).toLocaleDateString('en-us', {
								month: 'short',
								day: 'numeric',
								year: 'numeric',
							})}
							title={blog.data.title}
							description={blog.data.description}
							link={url}
							linkText="Read this post"
						/>
					);
				})
			}
		</section>

		<h2>Older posts from the blog</h2>

		<section class="row three-up">
			{
				blogs.slice(1, -1).map((blog) => {
					const url = `/blog/${blog.id}`;
					const img =
						blog.data.share?.image?.replace(
							'f_auto',
							'f_auto,w_600,ar_16:9,c_fill',
						) ?? null;
					return (
						<Card
							image={{
								src: img,
								alt: blog.data.title,
							}}
							tagline={new Date(blog.data.pubDate).toLocaleDateString('en-us', {
								month: 'short',
								day: 'numeric',
								year: 'numeric',
							})}
							title={blog.data.title}
							description={blog.data.description}
							link={url}
							linkText="Read this post"
						/>
					);
				})
			}
		</section>
	</main>
</Layout>

<style>
	main {
		background: var(--black);
		padding-block-end: 120px;
	}

	.row {
		margin-block-start: 20px;
	}

	h2 {
		font-family: monaspace-argon;
		font-size: clamp(1rem, 2cqi, 1.5rem);
		font-weight: 600;
		margin-block-start: 80px;
		padding-inline: max((100% - var(--max-width)) / 2, 5%);
	}

	.block {
		padding: 60px max((100% - 300px) / 2, 5%);
	}

	.post-preview {
		width: 100%;
	}

	.post-preview:not(:first-of-type) {
		margin-block-start: 50px;
	}

	.image {
		display: none;
	}

	@media (min-width: 1100px) {
		.block {
			padding: 180px max((100% - 900px) / 2, 5%);
		}

		.post-preview:not(:first-of-type) {
			margin-block-start: 80px;
		}

		.post-preview:has(.image) {
			display: grid;
			gap: 20px;
			grid-template-columns: min(400px, 50%) 1fr;
		}

		.image {
			display: block;
		}

		.image img {
			aspect-ratio: 16 / 9;
			height: auto;
			width: 100%;
		}
	}

	.details {
		container-name: details;
	}

	.details h2 {
		font-family: var(--font-family);
		font-size: clamp(1em, 1.5cqi, 2em);
		line-height: 1.1;
	}

	.post-preview h2 a {
		color: inherit;
		text-decoration: none;
	}

	.post-preview p {
		margin: 5px 0 10px;
	}

	.post-preview .read-more {
		align-items: center;
		color: var(--purple-600);
		display: flex;
		font-size: 0.8em;
		font-weight: 400;
		gap: 5px;
		justify-content: flex-end;
		text-align: right;
		text-transform: uppercase;
		text-decoration: none;
	}
</style>
