---
import { Image } from '@unpic/astro';
import { createImageUrl } from '../util/cloudinary';

export interface Props {
	line1: string;
	line2: string;
	image: {
		public_id: string;
		alt: string;
	};
	aspectRatio?: number;
}

const { line1, line2, image, aspectRatio = 1728 / 795 } = Astro.props;

const imgUrl = createImageUrl(image.public_id, {
	aspect_ratio: aspectRatio,
	crop: 'fill',
});
---

<section class="hero">
	<h1>
		<span class="line-1">{line1}</span>
		<span class="line-2">{line2}</span>
	</h1>
	<Image src={imgUrl} alt={image.alt} aspectRatio={aspectRatio} />
</section>

<style>
	.hero {
		position: relative;

		h1 {
			font-size: clamp(1rem, 11cqi, 11rem);
			inline-size: min(90%, 1450px);
			inset-block-end: 0;
			line-height: 0.8;
			margin: 0 max(5%, (100% - 1450px) / 2);
			position: absolute;
			text-box-trim: trim-both;
			text-shadow: 0 1px 3px color-mix(in oklch, var(--black) 50%, transparent);

			.line-1,
			.line-2 {
				display: block;
			}

			.line-2 {
				color: var(--orange);
				font-size: 0.92em;
				text-align: end;
			}
		}

		img {
			display: block;
		}
	}
</style>
